In [1]:
import pandas as pd
import numpy as np

In [ ]:
from datetime import datetime

In [7]:
now = datetime.now()
now

datetime.datetime(2018, 5, 14, 14, 20, 54, 430897)

In [9]:
now.date(), now.day, now.dst(), now.hour, now.isoformat(), now.isocalendar(), now.now(), now.minute, now.month, now.second, now.time(), now.weekday(), now.year

(datetime.date(2018, 5, 14),
 14,
 None,
 14,
 '2018-05-14T14:20:54.430897',
 (2018, 20, 1),
 datetime.datetime(2018, 5, 14, 14, 23, 17, 471456),
 20,
 5,
 54,
 datetime.time(14, 20, 54, 430897),
 0,
 2018)

In [10]:
from datetime import timedelta

In [11]:
start = datetime(2011,1,7)
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [12]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

In [13]:
from dateutil.parser import parse
parse('2011-11-03')

datetime.datetime(2011, 11, 3, 0, 0)

In [14]:
parse('Jan 28 2017 10:45PM')

datetime.datetime(2017, 1, 28, 22, 45)

In [18]:
dates = [datetime(2011,1,2), datetime(2011,1,5), datetime(2011,1,7), datetime(2011,1,8), datetime(2011,1,12), datetime(2011,1,10)]
ts = pd.Series(np.random.randn(6), index=dates)
ts, ts.index, ts.index.dtype, ts.index[0]

(2011-01-02   -0.102233
 2011-01-05    1.176354
 2011-01-07    0.212353
 2011-01-08    0.313466
 2011-01-12   -1.724339
 2011-01-10   -0.488725
 dtype: float64,
 DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
                '2011-01-12', '2011-01-10'],
               dtype='datetime64[ns]', freq=None),
 dtype('<M8[ns]'),
 Timestamp('2011-01-02 00:00:00'))

In [24]:
ts['01-07-2011'], ts['01/07/2011'], ts['20110107']

(2011-01-07    0.212353
 dtype: float64, 2011-01-07    0.212353
 dtype: float64, 2011-01-07    0.212353
 dtype: float64)

In [39]:
long_ts = pd.Series(np.random.randn(1000), index=pd.date_range('2001-01-01', periods=1000))
long_ts.head(5), long_ts.tail(5)

(2001-01-01    0.269619
 2001-01-02    0.909360
 2001-01-03    0.897678
 2001-01-04    2.223030
 2001-01-05    0.732295
 Freq: D, dtype: float64, 2003-09-23   -0.806170
 2003-09-24    1.668520
 2003-09-25   -1.491009
 2003-09-26    0.071166
 2003-09-27   -0.704062
 Freq: D, dtype: float64)

In [40]:
long_ts['2002'].head(5), long_ts['2002'].size

(2002-01-01   -0.934945
 2002-01-02   -0.425979
 2002-01-03    0.109201
 2002-01-04   -0.825526
 2002-01-05    0.078016
 Freq: D, dtype: float64, 365)

In [42]:
long_ts['2003-06'], long_ts['2003-06'].size

(2003-06-01    0.474749
 2003-06-02   -0.686775
 2003-06-03   -0.632194
 2003-06-04    1.268784
 2003-06-05   -0.371611
 2003-06-06   -0.548017
 2003-06-07    1.077636
 2003-06-08   -0.255543
 2003-06-09   -1.271726
 2003-06-10   -0.539100
 2003-06-11   -0.804663
 2003-06-12   -1.113611
 2003-06-13   -1.384895
 2003-06-14   -1.459643
 2003-06-15    0.509146
 2003-06-16   -0.038757
 2003-06-17    0.502723
 2003-06-18   -0.426177
 2003-06-19   -1.692776
 2003-06-20    0.690885
 2003-06-21    0.630706
 2003-06-22    0.713233
 2003-06-23   -0.623256
 2003-06-24   -0.322007
 2003-06-25    0.983833
 2003-06-26    2.220098
 2003-06-27   -0.858565
 2003-06-28   -0.198472
 2003-06-29    0.012225
 2003-06-30   -1.341184
 Freq: D, dtype: float64, 30)

In [44]:
long_ts['2001-05-01':'2001-06-01'].size

32

In [46]:
long_ts.truncate(after='2001-10-30', before='2001-10-20')

2001-10-20    0.951769
2001-10-21    0.783586
2001-10-22   -0.886776
2001-10-23    0.686720
2001-10-24    2.330341
2001-10-25   -0.362966
2001-10-26   -0.564449
2001-10-27   -1.464534
2001-10-28   -1.084379
2001-10-29    1.034509
2001-10-30    1.772280
Freq: D, dtype: float64

In [49]:
pdf = pd.DataFrame(np.random.randn(10), index=[1,1,1,1,2,2,3,3,3,4], columns=['Num'])
pdf, pdf.groupby(pdf.index).count()

(        Num
 1 -0.267603
 1 -1.304346
 1  0.020983
 1 -0.284044
 2 -0.573730
 2  0.103979
 3  0.573684
 3  0.169289
 3 -0.339023
 4 -1.865631,    Num
 1    4
 2    2
 3    3
 4    1)

In [51]:
ts.resample('D')

DatetimeIndexResampler [freq=<Day>, axis=0, closed=left, label=left, convention=start, base=0]

In [53]:
pd.date_range('2001-10-10', '2002-10-10', freq='BM'), pd.date_range('2001-10-10', '2001-11-10', freq='B')

(DatetimeIndex(['2001-10-31', '2001-11-30', '2001-12-31', '2002-01-31',
                '2002-02-28', '2002-03-29', '2002-04-30', '2002-05-31',
                '2002-06-28', '2002-07-31', '2002-08-30', '2002-09-30'],
               dtype='datetime64[ns]', freq='BM'),
 DatetimeIndex(['2001-10-10', '2001-10-11', '2001-10-12', '2001-10-15',
                '2001-10-16', '2001-10-17', '2001-10-18', '2001-10-19',
                '2001-10-22', '2001-10-23', '2001-10-24', '2001-10-25',
                '2001-10-26', '2001-10-29', '2001-10-30', '2001-10-31',
                '2001-11-01', '2001-11-02', '2001-11-05', '2001-11-06',
                '2001-11-07', '2001-11-08', '2001-11-09'],
               dtype='datetime64[ns]', freq='B'))