In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.DataFrame(np.random.randn(1000, 4))
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.026482    -0.011178     0.087651     0.029170
std       1.009362     0.989843     1.024993     0.986273
min      -3.745355    -3.308862    -2.933194    -3.708711
25%      -0.691910    -0.701062    -0.649489    -0.620698
50%       0.017996     0.000290     0.084141     0.047662
75%       0.677825     0.703716     0.808746     0.653672
max       3.003509     2.700092     3.034024     3.042847

In [8]:
data[2][np.abs(data[2]) > 3]

705    3.034024
Name: 2, dtype: float64

In [7]:
data[np.abs(data[2]) > 3]

            0         1         2         3
705  1.147045  0.578633  3.034024 -0.738669

In [13]:
data[np.abs(data) > 3].dropna(how='all')

            0         1         2         3
29  -3.745355       NaN       NaN       NaN
379       NaN -3.115336       NaN       NaN
694 -3.225832       NaN       NaN       NaN
705       NaN       NaN  3.034024       NaN
790  3.003509       NaN       NaN       NaN
863       NaN       NaN       NaN  3.042847
947       NaN       NaN       NaN -3.708711
991       NaN -3.308862       NaN       NaN
999 -3.471016       NaN       NaN       NaN

In [15]:
data[(np.abs(data) > 3).any(1)]

            0         1         2         3
29  -3.745355 -0.071735  1.292147  0.027236
379  0.082163 -3.115336  1.311606 -0.054100
694 -3.225832  0.016580 -0.315323 -1.133913
705  1.147045  0.578633  3.034024 -0.738669
790  3.003509  0.895881  0.283892  0.333406
863  0.846003  0.415128 -0.193898  3.042847
947  0.003653  0.273841 -1.020826 -3.708711
991  1.171041 -3.308862  0.482298  0.495329
999 -3.471016 -0.444859 -0.285077  0.485756