In [11]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
import numpy as np

In [4]:
df = pd.DataFrame(np.arange(2000000).reshape(100000,20))

In [11]:
sc = MinMaxScaler()
sc.fit(df)
df_scaled = pd.DataFrame(sc.transform(df))
df_scaled.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
1,0.00001,0.00001,0.00001,0.00001,0.00001,0.00001,0.00001,0.00001,0.00001,0.00001,0.00001,0.00001,0.00001,0.00001,0.00001,0.00001,0.00001,0.00001,0.00001,0.00001
2,0.00002,0.00002,0.00002,0.00002,0.00002,0.00002,0.00002,0.00002,0.00002,0.00002,0.00002,0.00002,0.00002,0.00002,0.00002,0.00002,0.00002,0.00002,0.00002,0.00002
3,0.00003,0.00003,0.00003,0.00003,0.00003,0.00003,0.00003,0.00003,0.00003,0.00003,0.00003,0.00003,0.00003,0.00003,0.00003,0.00003,0.00003,0.00003,0.00003,0.00003
4,0.00004,0.00004,0.00004,0.00004,0.00004,0.00004,0.00004,0.00004,0.00004,0.00004,0.00004,0.00004,0.00004,0.00004,0.00004,0.00004,0.00004,0.00004,0.00004,0.00004

In [7]:
MinMaxScaler?

In [14]:
df = pd.DataFrame({'key1': ['a','a','b','b','a'],
                  'key2': ['one','two','one','two','one'],
                  'data1': np.random.randn(5),
                  'data2': np.random.randn(5)})
df

      data1     data2 key1 key2
0  1.209185  1.213627    a  one
1 -0.853930 -1.153370    a  two
2  0.081252 -0.176865    b  one
3  1.433953 -0.826558    b  two
4 -0.528700 -1.481427    a  one

In [13]:
groupd = df['data1'].groupby(df['key1'])
groupd

In [20]:
print(groupd.mean())
print(groupd.max())
print(groupd.cumsum())
print(groupd.median())
#print(groupd.agg(lambda x, y: x*y))

key1
a    0.754353
b   -2.024171
Name: data1, dtype: float64
key1
a    1.634553
b   -1.882514
Name: data1, dtype: float64
0   -0.053094
1    0.628504
2   -1.882514
3   -4.048342
4    2.263058
Name: data1, dtype: float64
key1
a    0.681599
b   -2.024171
Name: data1, dtype: float64

In [23]:
means = df['data2'].groupby([df['key1'], df['key2']]).mean()
means

key1  key2
a     one     0.427780
      two     0.978915
b     one    -0.452092
      two     1.116717
Name: data2, dtype: float64

In [24]:
means.unstack()

key2       one       two
key1
a     0.427780  0.978915
b    -0.452092  1.116717

In [32]:
df.groupby(['key1', 'key2']).mean()

              data1     data2
key1 key2
a    one   0.790729  0.427780
     two   0.681599  0.978915
b    one  -1.882514 -0.452092
     two  -2.165828  1.116717

In [31]:
df.groupby(['key1', 'key2']).mean()['data2']

key1  key2
a     one     0.427780
      two     0.978915
b     one    -0.452092
      two     1.116717
Name: data2, dtype: float64

In [48]:
df['data2'].groupby([df['key1'], df['key2']]).mean()

key1  key2
a     one     0.427780
      two     0.978915
b     one    -0.452092
      two     1.116717
Name: data2, dtype: float64

In [46]:
df.groupby(['key1', 'key2'])['data2'].mean()

key1  key2
a     one     0.427780
      two     0.978915
b     one    -0.452092
      two     1.116717
Name: data2, dtype: float64

In [42]:
df.groupby(['key1', 'key2']).mean()[['data2']]

              data2
key1 key2
a    one   0.427780
     two   0.978915
b    one  -0.452092
     two   1.116717

In [33]:
print(df.groupby(['key1', 'key2']).size())
print(df.groupby(['key1', 'key2']).count())

key1  key2
a     one     2
      two     1
b     one     1
      two     1
dtype: int64
           data1  data2
key1 key2
a    one       2      2
     two       1      1
b    one       1      1
     two       1      1

In [41]:
for name, group in df.groupby('key1'):
    print(name)
    print(group)
    print(type(group))

a
      data1     data2 key1 key2
0 -0.053094  1.586662    a  one
1  0.681599  0.978915    a  two
4  1.634553 -0.731102    a  one
<class 'pandas.core.frame.DataFrame'>
b
      data1     data2 key1 key2
2 -1.882514 -0.452092    b  one
3 -2.165828  1.116717    b  two
<class 'pandas.core.frame.DataFrame'>

In [40]:
for (k1, k2), group in df.groupby(['key1', 'key2']):
    print((k1, k2))
    print(group)

('a', 'one')
      data1     data2 key1 key2
0 -0.053094  1.586662    a  one
4  1.634553 -0.731102    a  one
('a', 'two')
      data1     data2 key1 key2
1  0.681599  0.978915    a  two
('b', 'one')
      data1     data2 key1 key2
2 -1.882514 -0.452092    b  one
('b', 'two')
      data1     data2 key1 key2
3 -2.165828  1.116717    b  two

In [5]:
people = pd.DataFrame(np.random.randn(5, 5),
                      columns=['a', 'b', 'c', 'd', 'e'],
                      index=['Joe','Steve','Wes','Jim','Travis'])
people

               a         b         c         d         e
Joe     0.500316 -0.712970 -0.521388 -2.362654  0.440293
Steve  -0.222897 -1.246790 -0.700501  1.269692  1.274544
Wes    -0.743937  1.147002 -0.076556  1.434797 -0.425078
Jim     0.752874  0.420150 -1.324232  0.299086 -1.756486
Travis -0.284217  0.769275 -0.842308  0.883708 -0.638489

In [9]:
mapping = {'a':'red', 'b':'red', 'c':'blue', 'd':'blue', 'e':'red', 'f':'orange'}
people.groupby(mapping, axis=1).sum()

            blue       red
Joe    -2.884043  0.227638
Steve   0.569191 -0.195143
Wes     1.358241 -0.022013
Jim    -1.025146 -0.583463
Travis  0.041400 -0.153431

In [6]:
people.groupby(len).sum() # passed function is called once per index

          a         b         c         d         e
3  0.509252  0.854182 -1.922176 -0.628771 -1.741272
5 -0.222897 -1.246790 -0.700501  1.269692  1.274544
6 -0.284217  0.769275 -0.842308  0.883708 -0.638489

In [7]:
key_list = ['one', 'one', 'one', 'two', 'two']
people.groupby([len, key_list]).min()

              a         b         c         d         e
3 one -0.743937 -0.712970 -0.521388 -2.362654 -0.425078
  two  0.752874  0.420150 -1.324232  0.299086 -1.756486
5 one -0.222897 -1.246790 -0.700501  1.269692  1.274544
6 two -0.284217  0.769275 -0.842308  0.883708 -0.638489

In [10]:
columns = pd.MultiIndex.from_arrays([['US','US','US','JP','JP'],
                                    [1,3,5,1,3]],
                                   names=['cty', 'tenor'])
hier_df = pd.DataFrame(np.random.randn(5,5), columns=columns)
hier_df

cty          US                            JP
tenor         1         3         5         1         3
0     -1.607065 -0.609037 -0.658986  0.298049  1.998461
1      1.310782  0.706777 -1.287094  0.602343 -0.926904
2     -0.560889  0.600629 -0.668006  0.212567 -0.595610
3      0.004130  0.799713 -0.342444 -1.650681 -0.803132
4     -0.598876  0.225560 -0.987650  1.226207 -0.036213

In [13]:
print(hier_df.groupby(level='tenor', axis=1).min())
print(hier_df.groupby(level='cty', axis=1).min())

tenor         1         3         5
0     -1.607065 -0.609037 -0.658986
1      0.602343 -0.926904 -1.287094
2     -0.560889 -0.595610 -0.668006
3     -1.650681 -0.803132 -0.342444
4     -0.598876 -0.036213 -0.987650
cty        JP        US
0    0.298049 -1.607065
1   -0.926904 -1.287094
2   -0.595610 -0.668006
3   -1.650681 -0.342444
4   -0.036213 -0.987650

In [15]:
df.groupby('key1').quantile(0.9)

0.9      data1     data2
key1
a     0.861608  0.740228
b     1.298683 -0.241835

In [16]:
df.groupby('key1').agg(lambda a: a.max() - a.min())

         data1     data2
key1
a     2.063115  2.695054
b     1.352702  0.649693

In [18]:
df.groupby('key1').describe()

     data1                                                              \
     count      mean       std       min       25%       50%       75%
key1
a      3.0 -0.057815  1.109239 -0.853930 -0.691315 -0.528700  0.340243
b      2.0  0.757602  0.956504  0.081252  0.419427  0.757602  1.095778

               data2                                                    \
           max count      mean       std       min       25%       50%
key1
a     1.209185   3.0 -0.473723  1.470465 -1.481427 -1.317398 -1.153370
b     1.433953   2.0 -0.501712  0.459402 -0.826558 -0.664135 -0.501712


           75%       max
key1
a     0.030129  1.213627
b    -0.339289 -0.176865

In [2]:

import sys
import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share your notebook.
client_9fa254825cf748af8c99d9684609cb33 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='pGtcK4Cfe0bYhkzj57xpd52SoW35u9AminIgvd2fgQxN',
    ibm_auth_endpoint="https://iam.ng.bluemix.net/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3-api.us-geo.objectstorage.service.networklayer.com')

body = client_9fa254825cf748af8c99d9684609cb33.get_object(Bucket='sparkscalapythonplayground-donotdelete-pr-pmmafeibz2hwiv',Key='tips.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

tips = pd.read_csv(body)
tips.head()

   total_bill   tip smoker  day    time  size
0       16.99  1.01     No  Sun  Dinner     2
1       10.34  1.66     No  Sun  Dinner     3
2       21.01  3.50     No  Sun  Dinner     3
3       23.68  3.31     No  Sun  Dinner     2
4       24.59  3.61     No  Sun  Dinner     4

In [5]:
tips['tips_pct'] = tips['tip'] / (tips['total_bill'] - tips['tip'])
tips.head()

   total_bill   tip smoker  day    time  size  tips_pct
0       16.99  1.01     No  Sun  Dinner     2  0.063204
1       10.34  1.66     No  Sun  Dinner     3  0.191244
2       21.01  3.50     No  Sun  Dinner     3  0.199886
3       23.68  3.31     No  Sun  Dinner     2  0.162494
4       24.59  3.61     No  Sun  Dinner     4  0.172069

In [6]:
def top(df, n=5, column='tips_pct'):
    return df.sort_values(by=column)[-n:]

In [7]:
top(tips, n=6)

     total_bill   tip smoker  day    time  size  tips_pct
109       14.31  4.00    Yes  Sat  Dinner     2  0.387973
183       23.17  6.50    Yes  Sun  Dinner     4  0.389922
232       11.61  3.39     No  Sat  Dinner     2  0.412409
67         3.07  1.00    Yes  Sat  Dinner     1  0.483092
178        9.60  4.00    Yes  Sun  Dinner     2  0.714286
172        7.25  5.15    Yes  Sun  Dinner     2  2.452381

In [9]:
tips.groupby('smoker', group_keys=False).apply(top)

     total_bill   tip smoker   day    time  size  tips_pct
88        24.71  5.85     No  Thur   Lunch     2  0.310180
185       20.69  5.00     No   Sun  Dinner     5  0.318674
51        10.29  2.60     No   Sun  Dinner     2  0.338101
149        7.51  2.00     No  Thur   Lunch     2  0.362976
232       11.61  3.39     No   Sat  Dinner     2  0.412409
109       14.31  4.00    Yes   Sat  Dinner     2  0.387973
183       23.17  6.50    Yes   Sun  Dinner     4  0.389922
67         3.07  1.00    Yes   Sat  Dinner     1  0.483092
178        9.60  4.00    Yes   Sun  Dinner     2  0.714286
172        7.25  5.15    Yes   Sun  Dinner     2  2.452381

In [10]:
wa = pd.DataFrame({'data':[2,3,4,5,6,7,8,9],
                  'weight': [0.1,0.2,0.5,0.9,0.5,0.5,0.9,0.8],
                  'category':['a','a','b','c','c','c','b','c']})
wa

  category  data  weight
0        a     2     0.1
1        a     3     0.2
2        b     4     0.5
3        c     5     0.9
4        c     6     0.5
5        c     7     0.5
6        b     8     0.9
7        c     9     0.8

In [12]:
wa.groupby('category').apply(lambda d: np.average(d['data'], weights=d['weight']))

category
a    2.666667
b    6.571429
c    6.740741
dtype: float64